
mixin navItem(link, text, icon, active)
    li(class=`${active? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

nav.user-view__menu
    ul.side-nav
        +navItem('/me', 'Settings', 'settings', settings.user.settingsActive )
        +navItem('/my-tours', 'My bookings', 'briefcase', settings.user.bookingsActive )
        +navItem('/my-reviews', 'My reviews', 'star', settings.user.reviewsActive )
        +navItem('/my-billings', 'Billing', 'credit-card', settings.user.billingsActive )

    - if(user.role === 'admin')
        .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
                +navItem('/manage-tours', 'Manage tours', 'map', settings.admin.toursActive )
                +navItem('/manage-users', 'Manage users', 'users', settings.admin.usersActive )
                +navItem('/manage-reviews', 'Manage reviews', 'star', settings.admin.reviewsActive )
                +navItem('/manage-bookings', 'Manage bookings', 'briefcase', settings.admin.billingsActive )