.popup#popup__review-see
    .popup__content
        .popup__content-image-tour
        span= review.review
            //- each img, i in  review.tour.images
            //-     .picture-box
            //-         img.picture-box__img(src=`/img/tours/${img}` alt=`${i +1}` class=`picture-box__img--${i +1}`)
        .popup__content-review
            //- h2.heading-secondary.ma-bt-md= review.tour.name